*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    background-image: url(../img/handwashing.jpg);
    background-size: cover;
    background-position: center;
}
 .main {
    background-color:#0000CD;
    text-align: center;
    height: 8vh;
    padding: 5px;
    color: #fff;
}
 h6 {
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: #fff;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

} 
.card{
    border: none;
    font-size: 20px;
    height: 0 auto;
    left: 70px;
    background-color: aqua;
    animation-name: moveInRight;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    
}
.card-title {
    font-size: 15px;
    text-align: center;
    width: 0 auto;
    animation-name: moveInRight; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.card-img-top{
    width:90px ;
    margin:10px auto ;
    background-color: aqua;
    animation-name: moveImage; 
    animation-duration: 30s ;
    animation-timing-function: ease-in;
} 
/* .card-img-top{
    width:90px ;
    margin:10px auto ;
    animation-name: moveInLeft;
    animation-delay: -1s;
    animation-timing-function: ease-in;
}  */

  
.move {
    left: 180px;
}
.envi{
    width:90px ;
    margin:10px auto ;
}
.foot {
 background-color:#0000CD;
 text-align: center;
 height: 8vh;
 padding: 5px;
 color: #fff;
 }
 @keyframes moveInLeft {
    0% {
         opacity: 0;
         transform: translateX(-100px);
    }
    80% {
            transform: translateX(10px);
    }
    100% {
           opacity: 1;
           transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
         opacity: 0;
         transform: translateX(100px);
    }
    80% {
            transform: translateX(-10px);
    }
    100% {
           opacity: 1;
           transform: translate(0);
    }
}
@keyframes moveImage {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  












